<form class="  contaniner d-flex justify-content-center align-items-space-between flex-wrap" novalidate>
  <div class="col-md-2">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-2">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-2">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input #validationInput type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required pattern="[emaiName@g]">
      <div class="invalid-feedback" >
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="col-md-6" (ngSubmit)="new()">
    <label for="validationCustom03" class="form-label">City</label>
    <input  #validationInput type="text" class="form-control" id="validationCustom03" name ='' required pattern="[A-za-z]{3,}">
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
<div>
  {{validationInput.className | json}}

</div>

  <div class="col-12">
    <div class="form-check">
      <input  class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit" (submit)="orderSubmit()" >Submit form</button>
  </div>
</form>
