<main class="container" *ngIf="!loading">

  <!-- Left Column / Headphones Image -->
  <div class="left-column">

    <img style src="{{data.url}}" alt="" appHighlight>
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span></span>
      <h1>{{data.name}}</h1>
      <p>{{data.description}}</p>
    </div>

    <!-- Product Configuration -->


    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{data.price | currency}}</span>
      <a routerLink="/Card" class="cart-btn">Go to cart</a>
    </div>
  </div>
</main>
<app-spinners *ngIf="loading"></app-spinners>
