
*{
  list-style:none;
  border-style:none;
  text-decoration: none;


}
.active {
  color:rgba(181, 24, 24, 0.859);
  transition: 0.3s;
}

.nav-main {
  display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 255, 164);
    color: rgb(7, 82, 57);
    width: 100%;
    flex-wrap: nowrap;
    padding-left: 25px;
    padding-right: 25px;

}
ul li:hover {
  border-bottom: 1px solid #430404;
  color: rgb(255, 0, 0);

}
ul li{
  transition: 0.6s;
}
.ulmenu {
  display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
}
ul li {
  padding: 10px;
}
.navbar-logo {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

a.logo {
  transition: 0.3s;
}
a.logo:hover {
  border-bottom: 1px solid #430404;
  color: rgb(255, 0, 0);
}
.logbtn {
  border-bottom: 1px solid #43040400;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.6s;

}
.logbtn:hover {
  border-bottom: 1px solid #430404;
  color: rgb(255, 0, 0);

}







































/* .nav--n {
	display: flex;
	justify-content: space-around;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(18, 33, 202, 0.55);
	padding: 10px;
	background-color: rgba(250, 197, 128, 0.229);
	color: black;
}
.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #e12020;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	background-color: #ffe5e5d4;
	border: 1px solid #ffb8b8b0;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

:host ::deeb-in a {
	background-color: rgba(158, 232, 250, 0.933);
}
.navbar-light .navbar-brand {
	color: #3c0000;
	padding: 5px;
}
.active {
	border-bottom: solid 0.3em rgba(203, 93, 29, 0.933);
}
a:hover {
	background-color: rgba(101, 49, 20, 0.933);
	color: rgb(148, 255, 179);
}
.nav-item:hover {
	color: rgb(133, 255, 137);
} */
