<div class="contaniner">

  <nav class="row">
    <a class="logo" routerLink="/">SKYPRINT</a>
    <li class="logout btn btn-danger">
      <button class="logbtn" [routerLink]="['src/app/compants/log/login']"> Logout </button>
    </li>


  </nav>
  <div class="col-4" [class.show]="isOpen" id="navbarSupportedContent">
    <ul class="ulmenu">
      <li>
        <a class="active" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Card" routerLinkActive="active">Card</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/our-us" routerLinkActive="active">our us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/call-us" routerLinkActive="active">Call Us</a>
      </li>

    </ul>
  </div>
  <div class="d-inline p-2" [class.show]="isOpen" id="navbarSupportedContent">
    <li class="nav-item me-auto p-1">
      <button class="logout btn btn-danger d-flex" [routerLink]="['src/app/compants/log/login']"> Logout </button>
    </li>
    <button class="logout btn btn-primary p-2" (click)="toggelNavBar()" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span>open</span>
    </button>
  </div>
</div>
