<nav>
  <div class="container">
    <div class="content">
      <h2 class="logo" routerLink="/"> <img  src="{{_logoimge}}" width="50px" height="50px"> SKYPRINT </h2>
        <ul class="row text-center">

          <li class="active nav-link col" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</li>
          <li class="nav-link link-info col" routerLink="/login" routerLinkActive="active">Login</li>
          <li class="nav-link col " routerLink="/signup" routerLinkActive="active">sign up</li>
          <li class="nav-link col" routerLink="/Card" routerLinkActive="active">Card</li>
          <li class="nav-link col" routerLink="/our-us" routerLinkActive="active">our us</li>
          <li class="nav-link col" routerLink="/products" routerLinkActive="active">Products</li>
          <li class="nav-link col" routerLink="/call-us" routerLinkActive="active">Call Us</li>

        </ul>
    </div>
  </div>
</nav>
