
nav {
  background: linear-gradient(to right, #950b0b, #440606);
  color:aliceblue;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 20%;
  margin: 0;
}
li {
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}





































/* .nav--n {
	display: flex;
	justify-content: space-around;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(18, 33, 202, 0.55);
	padding: 10px;
	background-color: rgba(250, 197, 128, 0.229);
	color: black;
}
.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #e12020;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	background-color: #ffe5e5d4;
	border: 1px solid #ffb8b8b0;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

:host ::deeb-in a {
	background-color: rgba(158, 232, 250, 0.933);
}
.navbar-light .navbar-brand {
	color: #3c0000;
	padding: 5px;
}
.active {
	border-bottom: solid 0.3em rgba(203, 93, 29, 0.933);
}
a:hover {
	background-color: rgba(101, 49, 20, 0.933);
	color: rgb(148, 255, 179);
}
.nav-item:hover {
	color: rgb(133, 255, 137);
} */
