<div class="contanier">
  <div Style class="cart">
    <a [routerLink]="['/details', data.id]">
    <img Style src="{{data.url}}" alt="">
    <h4> {{data.name}} </h4>
    <P>{{data.description}}</P></a>
  </div>
  <div >
    <button  *ngIf="!addButton" (click)="addButton = true" class="btn btn-primary">add to card</button>
    <div  *ngIf="addButton">
      <input type="number"  [(ngModel)]="amount" min="1">
      <button  (click)="add(); addButton= false" class="btn btn-primary" >Add</button>
    </div>
    <span>{{data.price}}</span>
  </div>
</div>


