<div class="contanier">
  <div class="cart">
    <img src="{{data.image}}" alt="" routerLink="/details/{{data.id}}">
    <h4> {{data.title}} </h4>
    <P routerLink="/details/{{data.id}}">{{data.description}}</P>
  </div>
  <div >
    <button  *ngIf="!addButton" (click)="addButton = true">add to card</button>
    <div  *ngIf="addButton">
      <input type="number"  [(ngModel)]="amount">
      <button  (click)="add(); addButton= false">Add</button>
    </div>
    <span>{{data.price}}</span>
  </div>
</div>
