<div class="mt-5">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="item">
        <img src="/src/assets/image/proudct (1).jpg" alt="">
        <div class="body">
          <h4>products</h4>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit</P>
        </div>
        <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
          <button class="btn btn-success">add to card</button>
          <span>120 L.E</span>
        </div>

      </div>
    </div>
  </div>
</div>
