<div class="box mt-5">
  <div class=" category my-2 w-2">
    <label for="" class="my-1">Category:</label>
    <select class="form-control" (change)="filterCategorie($event)">
      <option value="all" select > ALL </option>
      <option value="{{option}}" *ngFor="let option of categories">{{option}}</option>
    </select>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12" *ngFor="let items of products">
      <div class="item">
        <img src="{{items.image}}" alt="">
        <div class="body">
          <h4> {{items.title}} </h4>
          <P>{{items.description}}</P>
        </div>
        <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
          <button class="btn btn-success">add to card</button>
          <span>{{items.price}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
