<div class="box mt-5">
  <div class=" category my-2 w-2 ">
    <app-select [data]="categories" [title]="'categories'" (selectedValue)="filterCategorie($event)"></app-select>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-md-3 col-sm-12" *ngFor="let items of products">
      <app-single-product [data]="items" (item)="addToCard($event)"></app-single-product>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="loading">
  <app-spinners></app-spinners>
</div>
