<div class="container px-3 my-5 clearfix">
  <!-- Shopping cart table -->
  <div class="card">
    <div class="card-header">
      <h2>Shopping Cart</h2>
      <div class="mt-4 container">
        <label class="text-muted font-weight-normal">Item in your Card <span
            class="text-danger">{{cartProducts.length}}</span></label>

      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
            <tr>
              <!-- Set columns width -->
              <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
              <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
              <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
              <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
              <th class="text-center align-middle py-3 px-0" style="width: 40px;"> <a class="btn btn-danger"
                  (click)="clearCard()"> clear card</a></th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of cartProducts; let index = index; trackBy: prdTrackByFun"> <!-- and count => the length of iterable تكرار,
              first => boolean: true when the item is the first item in the iterable , last => true when the item is the
              last item in the iterable , even => boolean: true when the item has an زوجي even index in the iterable and
              odd => boolean: true when the item has anفردي odd index in the iterable and we have TrackByFunction we can't use two dirctive in the same element but we can use ng-container it reblesd the element from in side
            -->

              <td class="p-4">
                <div class="media align-items-center">
                  <img Style src="{{item.item.url}}" class="d-unblock ui-w-40 ui-bordered mr-4" alt="">
                  <div class="media-body">
                    <a routerLink="/details" class="d-block text-dark">{{item.item.name}}</a>
                  </div>
                </div>
              </td>
              <td class="text-right font-weight-semibold align-middle p-4">{{item.item.price}}</td>
              <td class="align-middle p-4">
                <button class="btn btn-dark" (click)="plusAmount(index)">+</button>
                <input type="number" class="form-control" (ngModelChange)="detect()" [(ngModel)]='item.quantity'
                  min="1">
                <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
              </td>
              <td class="text-right font-weight-semibold align-middle p-4">{{item.item.price * item.quantity}}
              <td>
              <td class="deleet btn-danger " (click)="deleteProducts(index)">×</td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- / Shopping cart table -->

      <div class="d-flex flex-wrap justify-content-flex-end align-items-center pb-4">

        <div class="d-flex">
          <div class="text-right mt-4 mr-5">
            <label class="text-muted font-weight-normal m-0">Discount</label>
            <div class="text-large"><strong>$20</strong></div>
          </div>
          <div class="text-right mt-4">
            <label class="text-muted font-weight-normal m-0">Total price</label>
            <div class="text-large"><strong>{{this.totalPrice}}</strong></div>
          </div>
        </div>
      </div>

      <div class="float-right">
        <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" routerLink="/products">Back to
          shopping</button>
        <button type="button" class="btn btn-lg btn-primary mt-2" routerLink="/form-validation">Checkout</button>
      </div>

    </div>
  </div>
</div>
