<div class="container px-3 my-5 clearfix">
  <!-- Shopping cart table -->
  <div class="card">
    <div class="card-header">
      <h2>Shopping Cart</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
            <tr>
              <!-- Set columns width -->
              <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
              <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
              <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
              <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
              <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#"
                  class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i
                    class="ino ion-md-trash"></i></a></th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of cartProducts; let index = index">
              <td class="p-4">
                <div class="media align-items-center">
                  <img src="{{item.item.image}}" class="d-unblock ui-w-40 ui-bordered mr-4" alt="">
                  <div class="media-body">
                    <a href="#" class="d-block text-dark">{{item.item.title}}</a>
                  </div>
                </div>
              </td>
              <td class="text-right font-weight-semibold align-middle p-4">{{item.item.price}}</td>
              <td class="align-middle p-4">
                <button class="btn btn-dark" (click)="plusAmount(index)">+</button>
                <input type="number" class="form-control" (change)="detect()" [(ngModel)]='item.quantity'>
                <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
              </td>
              <td class="text-right font-weight-semibold align-middle p-4">{{item.item.price * item.quantity}}</td>
              <td class="deleet btn-danger " (click)="deleteProducts(index)">×</td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- / Shopping cart table -->

      <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
        <div class="mt-4">
          <label class="text-muted font-weight-normal">Promocode</label>
          <input type="text" placeholder="ABC" class="form-control">
        </div>
        <div class="d-flex">
          <div class="text-right mt-4 mr-5">
            <label class="text-muted font-weight-normal m-0">Discount</label>
            <div class="text-large"><strong>$20</strong></div>
          </div>
          <div class="text-right mt-4">
            <label class="text-muted font-weight-normal m-0">Total price</label>
            <div class="text-large"><strong>{{this.totalPrice}}</strong></div>
          </div>
        </div>
      </div>

      <div class="float-right">
        <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</button>
        <button type="button" class="btn btn-lg btn-primary mt-2">Checkout</button>
      </div>

    </div>
  </div>
</div>
